.aside {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 6px;
  align-self: flex-start;
  width: 100%;
  @include rem(padding, 20);

  @include desktop {
    @include rem(padding, 24);
  }

  // modifiers
  &--settings, &--addTable {
    @include rem(margin-top, 66);

    @include desktop {
      @include rem(margin-top, 131);
    }
  }
  &--onboarding {
    @include rem(margin-top, 66);

    @include desktop {
      width: 22.5% !important;
      @include rem(margin-top, 131);
    }
  }
  &--profile {
    width: 100% !important;

    &:last-child {
      @include rem(margin-top, 16);
    }
  }

  a {
    @include rem(margin-bottom, 15);

    .aside__item {
      &:last-child {
        margin-bottom: 0;
      }

      p {
        color: $text-color-alternate;
        font-weight: 500;
        border-radius: 6px;
        text-transform: uppercase;
        @include rem(font-size, 12);
        @include rem2(padding, 6, 12);

        @include desktop {
          @include rem(font-size, 15);
          @include rem2(padding, 8, 16);
        }
      }

      &.item-selected {
        background: $background-color;
        border-radius: 6px;

        p {
          color: $text-color;
        }
      }
    }
  }
}

.asides {
  width: 22.5%;
  display: flex;
  flex-direction: column;
}
