.container {
  display: flex;
  flex-direction: column;
  background: $background-color;
  padding-top: 0;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    @include rem2(padding, 50, 100);
    padding-top: 0;
  }

  &__content {
    border-radius: 6px;
    display: flex;
    background: white;
    width: 100%;
    align-self: flex-start;
    @include rem(padding, 24);
    @include rem(margin-bottom, 16);
  }
}
