.dropdown {
  visibility: hidden;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.26);
  border-radius: 6px;
  z-index: 1;
  @include rem(margin-top, 10);

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    @include rem(padding, 16);
    @include rem(padding-right, 16 * 4);

   li {
      font-size: 14px;
      @include rem(margin-bottom, 10);

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $text-link-color;

        &:hover {
          color: $text-link-color-hover;
        }
      }
    }
  }
}
