.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $text-color;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include rem2(margin, 50, 0);
    @include rem(margin-bottom, 100);

    @include tablet {
      @include rem(margin-bottom, 200);
    }

    @include desktop {
      flex-direction: row;
      @include rem(margin-bottom, 300);
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include desktop {
        width: 80%;
      }

      form {
        width: 100%;
        @include desktop {
          width: 100%;
        }
      }

    }

    &__title {
      width: 100%;
      text-align: center;
      align-self: center;
      margin: 0;
      font-weight: 700;
      @include rem(font-size, 40);

      @include desktop {
        width: 80%;
        text-align: left;
      }
    }

    &__subtitle {
      width: 80%;
      margin: 0;
      font-weight: 300;
      @include rem(margin-top, 0);
      @include rem(margin-bottom, 24 * 2);
      @include rem(font-size, 16);

      @include desktop {
        width: 80%;
        text-align: left;
      }

      span {
        text-decoration: underline;
      }
    }

    &__main {
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 8px;
      width: 80%;
      @include rem2(padding, 25, 35);

      @include mobile {
        width: 100%;
      }

      p {
        color: lighten($text-color, 10%);
        font-weight: 300;
        text-transform: uppercase;
        @include rem(font-size, 14);
        @include rem(margin-top, 32);

        span {
          text-transform: lowercase;
        }

        a {
          color: $text-color;
          text-transform: none;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          &:visited {
            text-decoration: underline;
            color: $text-color;
          }
          &:focus {
            text-decoration: underline;
            color: $text-color;
          }
        }
      }

      span {
        font-weight: 300;
        color: #fff;
        text-transform: capitalize;
        @include rem(margin-top, 3);
        @include rem(font-size, 12);
        font-size: 14px;
      }

      input {
        // padding: 20px 10px;
        border: none;
        outline: none;
        background: $background-color;
        border-radius: 3px;
        color: $text-color;
        width: auto;
        @include rem2(padding, 0, 10);
        @include rem(height, 30);

        @include desktop {
          // @include rem(width, 90%);
          width: 90%;
          // padding: 20px 10px;
          height: 40px;
        }
        @include tablet {
          // @include rem(width, 90%);
          width: 90%;
          height: 40px;
        }
        @include mobile {
          // @include rem(width, 90%);
          width: 90%;
          height: 40px;
        }
      }
    }

    &__aside {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include rem(margin-top, 110 / 2);
      @include rem(margin-right, 50);

      @include desktop {
        width: 20%;
        @include rem(margin-top, 131);
      }

      &__box {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 8px;
        @include rem2(padding, 15, 20);

        a {
          text-decoration: none;
          color: #B1BBC7 !important;

          &:hover {
            color: $text-color;
            text-decoration: none;
          }

          div {
            text-transform: uppercase;
            font-weight: 400;
            border-radius: 4px;
            @include rem(font-size, 14);
            @include rem2(padding, 10, 15);

            &:hover {
              cursor: pointer;
            }

            &:first-child {
              @include rem(margin-bottom, 10);
            }
          }
        }
      }
    }
  }
}

.navbar__controls .dropdown--notifications {
  width: 420px!important;
  padding: .75rem 1rem;
  margin-top: 20px;
}