.main {
  position: relative;
  font-family: 'Lato', sans-serif;
  background: $background-color;
  width: 100%;

  &__hero__tables.hidden {
    display: none;
  }

  .pages {
    background: #f2f2f8 !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    color: white;
    @include rem(height, 336);
    @include rem2(padding, 0, 40);
    margin-bottom: 0;
    z-index: 1000;
    overflow: hidden;

    div:first-child {
      z-index: 2000;
    }

    .circle {
      z-index: 1000;
      position: absolute;
      top: -50%;
      left: 10%;
      bottom: -50%;
      right: 10%;
      background: #dee0e7;
      border-radius: 50%;
    }
  }

  &__hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    color: white;
    @include rem(height, 336);
    @include rem2(padding, 0, 40);
    margin-bottom: 0;

    div.hidden {
      display: none;
    }

    div {
      color: #6a7c93 !important;

      h3 {
        margin-top: 75px;
        margin-bottom: 20px;
        @include rem(font-size, 38);
      }

      h4 {
        margin: 0;
        font-weight: 400;
        @include rem(font-size, 15);

        @include tablet {
          @include rem(font-size, 17);
        }
        @include desktop {
          @include rem(font-size, 18);
        }
      }

      a.blue {
        background: #6a7c93;
      }

      p.page {
        @include rem(font-size, 13);
        font-weight: 400;
        margin-top: 10px;
      }
    }

    img {
      position: absolute;
      top: -6px;
      right: -6px;

      &:hover {
        cursor: pointer;
      }
    }

    p {
      margin: 20px 0;
      font-weight: 600;
      @include rem(font-size, 26);
      @include rem(padding-bottom, 32);

      @include tablet {
        @include rem(font-size, 32);
      }
      @include desktop {
        @include rem(font-size, 36);
      }
    }
    // h1 {
    //   margin-top: 60px;
    //   margin-bottom: 20px;
    //   @include rem(font-size, 28);
    //
    //   @include tablet {
    //     @include rem(font-size, 32);
    //   }
    //
    //   @include desktop {
    //     @include rem(font-size, 38);
    //   }
    // }
    // h2 {
    //   margin: 0;
    //   font-weight: 400;
    //   @include rem(font-size, 15);
    //
    //   @include tablet {
    //     @include rem(font-size, 17);
    //   }
    //   @include desktop {
    //     @include rem(font-size, 18);
    //   }
    // }

    // a.button {
    //   font-weight: 600;
    //   color: white;
    //   border-radius: 4px;
    //   padding: 10px 12px;
    //   background: #106c49;
    //   border: 1px solid darken(#106c49, 2) !important;
    //   @include rem(font-size, 15);
    // }
    // a.button:hover {
    //   background: lighten(#106c49, 10) !important;
    //   border: 1px solid lighten(#106c49, 8) !important;
    // }
  }

  &__content {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    @include rem2(padding, 15, 40);
    @include rem(margin-top, 28);
    margin-bottom: 80px;

    @include tablet {
      @include rem2(padding, 15, 80);
    }
    @include desktop {
      justify-content: space-between;
      @include rem2(padding, 15, 110);
    }

    &__tables {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include desktop {
        width: 80%;
      }

      &__filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $text-link-color;
        list-style-type: none;
        @include rem(font-size, 12);
        @include rem(margin-bottom, 25);

        @include desktop {
          flex-direction: row;
          justify-content: space-between;
          @include rem(font-size, 13);
        }

        &__left {
          display: flex;
          align-items: center;
          order: 2;
          width: 100%;
          color: $text-link-color-active-alternative;
          @include rem(margin-top, 25);

          &:hover {
            cursor: pointer;
          }

          &__searchTitle {
            color: #b1bbc7;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 400;
          }

          @include desktop {
            order: 1;
            width: auto;
            margin-top: 0;
          }

          & > li {
            display: inline-flex;
            text-transform: uppercase;

            &:hover {
              cursor: pointer;
              color: $text-link-color-hover;
            }
          }

          img {
            align-self: flex-start;
            @include rem(width, 16);
            @include rem(margin-left, 2);
          }
        }
        &__right {
          display: flex;
          order: 1;

          @include desktop {
            order: 2;
          }

          li {
            display: inline-flex;
            @include rem(margin-right, 16);
            @include rem(margin-bottom, 16);

            @include desktop {
              margin-bottom: 0;
              @include rem(margin-right, 32);
            }

            &:last-child {
              margin-right: 0;
            }
          }

          img {
            display: none;
            align-self: flex-start;
            @include rem(width, 14);
            @include rem(margin-right, 5);

            @include tablet {
              display: block;
            }
            @include desktop {
              display: block;
            }
          }
        }
      }

      &__cards {
        display: flex;
        flex-direction: column;

        &__item {
          display: flex;
          flex-direction: column;
          position: relative;
          background: white;
          color: $text-color;
          border-radius: 6px;
          @include rem2(padding, 25, 35);
          @include rem(margin-bottom, 20);

          &__info {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &__title {
              display: flex;
              flex-direction: column;

              h3 {
                align-self: flex-start;
                margin: 0;
                color: black;
                font-weight: 600;
                @include rem(font-size, 20);

                &:hover {
                  cursor: pointer;
                  color: $logo-color;
                }
              }
              p {
                @include rem(font-size, 16);
              }
            }

            &__upvote {
              position: absolute;
              top: 20px;
              right: 20px;

              @include desktop {
                display: flex;
                align-self: flex-start;
                background: $upvote-background-color;
                color: $upvote-text-color;
                font-weight: 300;
                border-radius: 3px;
                @include rem2(padding, 10, 20);

                &:hover {
                  cursor: pointer;
                  background: darken($upvote-background-color, 4%);
                }

                img {
                  @include rem(margin-right, 12);
                }
              }
            }
          }

          &__stats {
            display: none;

            @include tablet {
              display: flex;
              border-top: 2px solid #f7f7fb;
              @include rem(font-size, 12);
            }
            @include desktop {
              display: flex;
              border-top: 2px solid #f7f7fb;
              @include rem(font-size, 14);
            }

            div {
              @include rem(margin-top, 14);
              @include rem(margin-right, 16);

              &:hover {
                cursor: pointer;
              }

              &:first-child {
                background: $logo-color;
                border-radius: 3px;
                @include rem2(padding, 2, 4);
                color: white;
              }
              &:nth-child(2) {
                background: $card-tokens-background-color;
                border-radius: 3px;
                color: white;
                @include rem2(padding, 2, 4);
              }
              &:nth-child(3), &:last-child {
                display: flex;
                align-items: center;
                img {
                  align-self: center;
                  @include rem(width, 14);
                  @include rem(margin-right, 5);
                }
                span {
                  color: $text-color;

                  i {
                    font-style: normal;
                    color: $text-link-color;
                  }
                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    &__sidebar {
      padding-bottom: 20px;

      @include desktop {
        width: 20%;
        display: flex;
        flex-direction: column;
        color: $text-link-color;
        font-weight: 300;
        text-transform: uppercase;
        @include rem(margin-left, 66);
      }

      &__option:first-child {
        margin-top: 0;
      }

      &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;

        span {
          white-space: nowrap
        }

        img {
          @include rem(width, 20);
        }
      }

      .react-component {
        width: 270px;
        margin-top: 20px;
      }
    }

    ul.filter {
      margin: 0;
      padding: 1.1875rem;
      list-style: none;
      background: #fff;
      border-radius: 6px;
      width: 270px;
      margin-bottom: 10px;
      margin-top: 1.5625rem;
      overflow: hidden;

      li {
        margin-top: 10px;

        input[type="radio"] {
          visibility: hidden;
          width: 0;
        }

        label {
          font-size: 13px;
          cursor: pointer;
          white-space: nowrap;
          border-radius: 6px;
          padding: 8px 12px;
          border: none;
          user-select: none;
          text-transform: uppercase;
          color: #9baabe;
          display: block;
          text-overflow: ellipsis;
          width: 100%;
          font-weight: 600;
        }

        label.selected {
          background: #f2f2f8 !important;
          color: #6b7c94 !important;
        }
      }
    }
  }
}
