.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: $primary-font;
  background: white;
  color: black;
  position: relative;
  box-sizing: border-box;
  @include rem(padding-top, 25);

  @include desktop {
    @include rem2(padding, 40, 28);
  }

  &--loggedOut {
    @include rem(padding-bottom, 25);
    @include rem(padding-left, 28);
    @include rem(padding-right, 28);
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &--right {
      justify-content: flex-end;
    }
    &__mobile {
      display: flex;
      align-items: center;
      width: 100%;

      &--left {
        width: 65%;
      }
      &--right {
        width: auto;
        justify-content: flex-end;
      }
    }
  }

  &__logo {
    @include rem(margin-right, 10);
    width: auto;

    @include desktop {
      @include rem(margin-right, 20);
    }

    &.mobile-and-tablet {
      padding-bottom: 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: $logo-color;
      }
      &:visited {
        color: $logo-color;
      }
      &:focus {
        color: $logo-color;
      }
    }

    img {
      border-radius: 4px;
      @include rem(width, 38);
      @include rem(height, 38);
    }
  }

  &__search {
    display: flex;
    border-radius: 3px;
    width: 80%;

    &.mobile-and-tablet {
      padding-bottom: 0;
    }

    @include desktop {
      width: auto;
    }

    &--active {
      -webkit-box-shadow: 0px 0.8px 5px 1px rgba(0,0,0,0.33);
      -moz-box-shadow: 0px 0.8px 5px 1px rgba(0,0,0,0.33);
      box-shadow: 0px 0.8px 5px 1px rgba(0,0,0,0.33);
    }

    &__icon {
      display: flex;
      justify-content: center;
      background: #f2f2f8;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      @include rem(padding-right, 4);
      @include rem(width, 38);

      img {
        align-self: center;
        @include rem(padding-left, 5);
        width: 20px;
      }
    }
    &__field {
      font-family: $primary-font;
      font-weight: 400;
      color: #6a7c94;
      background: #f2f2f8;
      border: none;
      outline: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 100%;
      @include rem(padding-left, 5);
      @include rem(height, 38);

      @include desktop {
        width: auto;
      }

      &::-webkit-input-placeholder {
        color: $text-color;
        font-weight: 400;
      }
      &::-moz-placeholder {
        color: $text-color;
        font-weight: 400;
      }
      &:-ms-input-placeholder {
        color: $text-color;
        font-weight: 400;
      }
      &:-moz-placeholder {
        color: $text-color;
        font-weight: 400;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include rem(margin-bottom, 25);
    @include rem(padding-right, 28);
    @include rem(padding-left, 28);

    @include desktop {
      margin-right: 0;
      margin-bottom: 0;
      padding-right: 0;
      width: auto;
      justify-content: flex-start;
    }

    a#notificationButton {
      @include rem(margin-left, 25);
      position: relative;


      img {
        width: 18px;
        height: 18px;

        @include desktop {
          width: 17px;
          height: 17px;
        }
      }

      span {
        font-size: 8px;
        line-height: 10px;
        padding: 2px;
        text-align: center;
        vertical-align: center;
        border-radius: 10px;
        width: 15px;
        height: 15px;
        background: #2ead6b;
        color: white;
        position: absolute;
        top: -5px;
        right: -5px;
      }
    }
    a#profileImage {
      @include rem(margin-left, 16);

      @include tablet {
        @include rem(margin-left, 24);
      }

      @include desktop {
        @include rem(margin-left, 30);
      }
    }

    img {
      &:hover {
        cursor: pointer;
      }
    }

    .dropdown {
      &--notifications {
        width: 360px !important;
        @include rem2(padding, 12, 16);

        .tableFeed__item__avatar {
          img {
            @include rem(width, 34);
            @include rem(height, 34);
          }
        }
        .tableFeed__item__info__text {
          @include rem(font-size, 13);

          &__author {
            font-weight: 500;
          }
          &__message {
            font-weight: 400;
          }
        }
        .tableFeed__item__info__text {
          font-weight: 300;
        }

        .center {
          color: $text-color;
          font-weight: 500;
          @include rem(font-size, 13);

          a {
            color: $logo-color;

            &:hover {
              color: darken($logo-color, 6%);
            }
          }
        }

        // css hack for responsive notifications dropdown
        .leftZero {
          left: 0 !important;
        }
      }
    }

    &__dropdown {
      visibility: hidden;
      position: absolute;
      margin-top: 20px;
      background: #fff;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.26);
      border-radius: 6px;
      z-index: 1;

      ul {
        list-style-type: none;
        width: 224px;
        padding-left: 15px;
        padding-bottom: 15px;

        li {
          /* width: 6em; */
          margin: 5px 0px 0px 15px;

          a {
            font-size: 16px;
            color: #6a7c94;
            letter-spacing: -0.43px;
            line-height: 32px;
          }
        }

        li.separator {
          padding:0;
          margin: 15px 0;
        }

        li:first-child {
          margin-top: 14px;
          margin-bottom: 14px;
          a {
            color: #24ae69;
            letter-spacing: -0.43px;
          }
        }

        li:last-child {
          margin-top: 14px;
          margin-bottom: 14px;
          a {
            color: #b1bbc7;
            letter-spacing: -0.43px;
          }
        }
      }
    }

    &__add {
      @include rem(width, 15);
      @include rem(height, 15);

      @include desktop {
        @include rem(width, 18);
        @include rem(height, 18);
      }

      &__create {
        display: none;
        padding: 8px 10px;
        padding-right: 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: 600;
        color: #979797;
        @include rem(font-size, 14);

        &:hover {
          background: $background-color;
        }

        @include desktop {
          display: block;
        }

        img {
          vertical-align: middle;
          margin-top: -2px;
          margin-right: 3px;
        }

        span {
          color: $text-color;
        }
      }

      /*
      &__create:hover {
        border-radius: 4px;
        border: 1px solid #f2f2f8;
      }
      */

      &--notification {
        @include rem(margin-right, 0);
      }
      &--menu {}
    }

    &__notification {
      @include rem(width, 15);
      @include rem(height, 15);

      @include desktop {
        @include rem(width, 20);
        @include rem(height, 20);
      }
    }

    &__profile {
      border-radius: 4px;
      @include rem(width, 30);
      @include rem(height, 30);

      @include desktop {
        @include rem(width, 32);
        @include rem(height, 32);
      }
    }
  }

  &__login {
    @include rem(font-size, 12);
    @include rem2(padding, 10, 16);
    display: flex;
    background: $logo-color;
    color: white;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    border-radius: 3px;
    @include rem(margin-left, 10);

    @include desktop {
      margin-bottom: 0;
      @include rem(font-size, 14);
      @include rem2(padding, 13, 22);
    }

    span {
      display: none;

      @include desktop {
        display: block;
        text-transform: lowercase;
        color: white;
        opacity: 0.5;
        @include rem2(margin, 0, 6);
      }
    }

    &__login {
      color: white;
      text-decoration: none;
      font-weight: 600;

      &::after {
        content: 'Join';
      }

      @include desktop {
        &::after {
          content: 'Login';
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
    &__signup {
      display: none;

      @include desktop {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }

    a {
      &:hover {
        text-decoration: none;
        color: white;
      }
      &:visited {
        color: white;
      }
      &:focus {
        color: white;
      }
    }
  }
}
