.__page__top{
   margin: 40px 20px 14px 46px;
   //margin: 0px 40px 10px;
   h1 {
     text-align:left;
     font-size: 2em;
     font-weight: normal;
     color: #6A7C94;
   }
   h2 {
     text-align:left;
     font-size: 1em;
     font-weight: normal;
     color: #6A7C94;
     padding-top: 0.85em;
   }
}




.__page__sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #B1BBC7;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 4.125rem;
    max-height: 200px;

    ul {
       list-style-type: none;
       width: 225px;
       //padding: 10px;
       padding: 1.5rem;
       background-color: #FFF;
       border-radius: 8px;

     li {
         font-family: $primary-font;
         cursor: pointer;
         white-space: nowrap;
         border-radius: 6px;
         padding: 8px 12px;
         border: none;
         user-select: none;
         text-transform: uppercase;
         color: #9baabe;
         display: block;
         text-overflow: ellipsis;
         width: 100%;
         font-weight: 600;
         //padding: 5px;

         a {
           font-size: 13px;
           color: #6A7C94;
           letter-spacing: -0.43px;
           line-height: 32px;
         }
       }

    }

    .active {
       background: #f2f2f8!important;
       color: #6b7c94!important;
    }
}

.__page__container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: .9375rem 2.5rem;
  margin-bottom: 80px;
  min-height: 350px;
}
.__page__wrapper {
  background: #FFFFFF;
  border-radius: 8px;
  color: #6A7C94;
  // margin: 20px;
  //margin: 15px 0 50px 60px;
  padding: 35px;
  line-height: 2em;
  width: 70%;

  a {
    color: #2ead6b !important;
  }

  h3 {
    margin: 15px 0 15px 0;
  }
  h4 {
    margin: 15px 0 15px 0;
  }
}
