.container--tableUsers {
  width: 100%;
  @include rem(margin-top, 50);

  .container__content {
    position: relative;

    & > p {
      position: absolute;
      top: -30px;
      left: 0;
      color: $text-color-alternate;
      font-weight: 500;
      text-transform: uppercase;
      @include rem(font-size, 14);
    }

    @include desktop {
      width: 72.5%;
    }

    .tableUsers {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      @include rem(margin-top, 16);

      &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include rem(margin-bottom, 16);

        @include desktop {
          flex-direction: row;
          justify-content: space-between;
          @include rem(margin-right, 16);
        }

        &__avatar {
          @include desktop {
            @include rem(margin-right, 8);
          }

          img {
            border-radius: 4px;
            @include rem(width, 50);
            @include rem(height, 50);
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          align-items: center;

          @include desktop {
            align-items: flex-start;
          }

          &__title {
            display: flex;

            h5 {
              color: $text-color;
              font-weight: 600;
              @include rem(font-size, 14);
            }
          }
          &__subtitle {
            display: flex;
            justify-content: space-between;
            text-align: center;

            @include desktop {
              text-align: left;
            }

            p {
              color: $text-color-alternate;
              font-weight: 500;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              @include rem(width, 180);
              @include rem(font-size, 12);
            }
          }
        }

        &__follow {
          @include rem(margin-left, 10);

          button {
            background: $upvote-background-color;
            color: $text-color;
            border: none;
            border-radius: 4px;
            outline: none;
            font-weight: 600;
            @include rem(font-size, 14);
            @include rem2(padding, 2, 8);

            &:hover {
              cursor: pointer;
              background: darken($upvote-background-color, 6%);
            }
          }
        }
      }
    }
  }

  aside {
    position: relative;
    @include rem(margin-top, 60);

    & > p {
      position: absolute;
      top: -30px;
      left: 0;
      color: $text-color-alternate;
      font-weight: 500;
      text-transform: uppercase;
      @include rem(font-size, 14);
    }

    @include desktop {
      width: 22.5%;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.tableUsers__item {
  display: flex;
  margin: 10px 0 10px 0;
  width: 280px;
}
.tableUsers__item img {
  width: 80px;
}
.tableUsers__item__info {
  padding: 5px 10px 10px 20px;
  width: 150px;
}
.tableUsers__item__follow {
  margin: auto;
  display: block;
}
.follow-user  {
  // background: #f2f2f8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.follow-user:hover  {
  cursor: pointer;
}
